html {
	font-family: 'David Libre', serif;
	font-size: 16px;
	line-height: 1.5;
	
}
*{
	padding: 0;
	margin: 0;
}
img {
	display: inline-block;
}

a {
	transition: 0.3s ease-out;
}

ul {
	list-style-type: none;
}
/* ..........................................

	GRID

........................................... */

.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.row {
	width: 80%;
	flex-direction: row;
	display: flex;
	margin: 0 auto;
	justify-content: space-around;

}

.col-4 {
	width: 360px;
	margin-right: 25px;
	float: left;
}

.col-4:last-child {
	margin-right: 0px;
}




/* ..........................................

	HEADER

........................................... */

.header {
	background: #fafafa;
	background-image: url("../img/bg/bg-header.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	height: 100vh;

	color: #FFF;
	text-align: center;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	position: relative;

}

.header__title {
	font-size: 56px;
	margin-bottom: 10px;
	font-family: 'Merriweather', serif;
	text-shadow: 2px 1px 0.8px black;

}

.header__slogan {
	font-size: 28px;
	line-height: 42px;

}


/* ..........................................

	PORTFOLIO

........................................... */

.portfolio {
	padding: 40px 5vw 60px 5vw;
}

.portfolio-item {
	margin-bottom: 20px;
}

.title {
	font-size: 46px;
	margin-bottom: 60px;
	font-family: 'Merriweather', serif;
	text-align: center;
}

.portfolio-item__img {
	margin-bottom: 17px;
}

.portfolio-item__title {
	font-size: 24px;
	line-height: normal;
	margin-bottom: 5px;
	text-align: center;

}

.portfolio-item__text {
	text-align: center;
}


/* ..........................................

	PORTFOLIO SINGLE PAGE

........................................... */

.potfolio-single-page {
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;

}

.potfolio-single-page img {
	margin-bottom: 50px;
	max-width: 25;
	height: auto;
	display: block;
}

.button-back {
	text-decoration: none;
	color: black;
	text-transform: uppercase;
	letter-spacing: 1.6px;

	display: inline-block;

	border-width: 2px;
	border-color: black;
	border-style: solid;
	border-radius: 50px;

	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 23px;
	padding-right: 23px;

	margin-top: 15px;

}

.button-back:hover {
	color: black;
	background-color: #FFE400;
	border-color: black;
}



/* ..........................................

	SKILLS

........................................... */

#skills {
	background-color: rgb(255, 255, 255);
	padding: 3vw 5vw;
	border-bottom: 2px solid black;

}

.skill_main {
	margin-top: 3vw;
	padding: 0 3vw;
	display: flex;
	justify-content: space-between;
	font-size: 1vw;
}

.skills_top {
	font-size: 46px;
	margin-bottom: 60px;
	font-family: 'Merriweather', serif;
	text-align: center;
}
.progress {
	display: flex;
	background-color: #fafafad0;
	align-items: flex-end;
	height: 30vw;
	width: 10vw;
	border: 1px solid #000;
	margin-top: 1vw;
}
.column p {
	display: flex;
	justify-content: space-around;
	padding-top: 10px;

}
.column ul {
	margin-left: 15%;
	margin-right: 15%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.progress_value {
	background: rgb(0, 0, 0);
	background: linear-gradient(0deg, rgba(254, 255, 93, 1) 21%, rgba(160, 255, 75, 1) 49%,
	 rgba(136, 255, 194, 0.6979166666666667) 78%);
	width: 100%;
	display: flex;
	justify-content: center;
}

.html-skill{
	animation: html-skill-anim 3s normal forwards;
}

.css-skill {
	animation: css-skill-anim 3s normal forwards;
}

.js-skill {
	animation: js-skill-anim 3s normal forwards;
}

.git-skill {
	animation: git-skill-anim 3s normal forwards;
}

@keyframes html-skill-anim {
	0% {height: 0;}
	100% {height: 80%;}
}

@keyframes css-skill-anim {
	0% {height: 0;}
	100% {height: 75%;}
}

@keyframes js-skill-anim {
	0% {height: 0;}
	100% {height: 55%;}
}

@keyframes git-skill-anim {
	0% {height: 0;}
	100% {height: 70%;}
}
/* ..........................................

	FOOTER

........................................... */

.footer {
	background-color: black;
	color: #FFF;

}

.footer p {
	margin-top: 0px;
	margin-bottom: 15px;
}

p.footer__social {
	color: #FFF;
}

p.footer__social-icons {
	color: #FFF;
	font-size: 32px;

	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

p.footer__social-icons a {
	color: #FFF;
	text-decoration: none;
}

p.footer__social-icons a:hover {
	color: #FFE400;

}

.button {
	text-decoration: none;
	color: #FFF;
	text-transform: uppercase;
	letter-spacing: 1.6px;

	display: inline-block;

	border-width: 2px;
	border-color: #FFF;
	border-style: solid;
	border-radius: 50px;

	padding-top: 8px;
	padding-bottom: 4px;
	padding-left: 23px;
	padding-right: 23px;

	margin-top: 15px;

}

.button:hover {
	color: black;
	background-color: #FFE400;
	border-color: black;
}

/* ..........................................

	POPUP



.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
}

.popup:target {
	opacity: 1;
	visibility: visible;
}

.popup__body {
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 10px;
}

.popup__content {
	background-color: #FFF;
	color: #000;
	max-width: 800px;
	padding: 30px;
	position: relative;
}

.popup__close {
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 20px;
	color: black;
	text-decoration: none;
}


........................................... */